
  <h1>Departments</h1>
  <p>Check out all the departments at the school.</p>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Created</th>
        <th scope="col">Annual Budget</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of departments">
        <th scope="row">{{d.departmentID}}</th>
        <td>School of {{d.name}}</td>
        <td>{{d.createdDate | date }}</td>
        <td>{{d.budget | currency }}</td>
      </tr>
    </tbody>
  </table>