<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{APPLICATION_TITLE}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li [ngClass]="{'active':activeTab==='courses'}"><a routerLink="/courses" (click)="search('courses')">Courses</a></li>
        <li [ngClass]="{'active':activeTab==='departments'}"><a routerLink="/departments" (click)="search('departments')">Departments</a></li>
        <li [ngClass]="{'active':activeTab==='faculty'}"><a routerLink="/faculty" (click)="search('faculty')">Faculty</a></li>
        <li [ngClass]="{'active':activeTab==='students'}"><a routerLink="/students" (click)="search('students')">Students</a></li>
        <li [ngClass]="{'active':activeTab==='register'}"><a routerLink="/register" (click)="search('register')">Register</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>