.borderPretty {
    border-radius: 15px;
    border: solid 1px #e5e5e5;
    margin: 1%;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);    
}

.class-border-right{
    border-right: dashed 1px grey;
}