
<h1>Faculty Members</h1>
<p>Meet our staff!</p>

<div class="container">    
      <div class="row">
        <div class="col-md-6" *ngFor="let f of faculty">
            <div class="row borderPretty">
                <div class="col-md-6 class-border-right">
                    <p>{{f.firstName + " " + f.lastName}}</p>
                    <p>School of {{f.courses[0].departmentName}}</p>
                    <p>Hired: {{f.hireDate | date:'MM/dd/yyyy' }}</p>            
                </div>
                <div class="col-md-4">
                  <p *ngFor="let c of f.courses">{{c.name}}</p>
                </div>
            </div>
        </div>
</div>